a{
    text-decoration: none;
}

ol, ul{
    list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* START */

*, *::before, *::after{
    box-sizing: border-box;
}

:root{

}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}


